#cloud-config
disable_root: false
packages:
  - git
  - git-lfs
  - curl
{{- if .ssh_authorized_keys }}
ssh_authorized_keys:
{{- range .ssh_authorized_keys }}
  - {{ . }}
{{- end }}
{{- end }}
runcmd:
  - curl -L --output /usr/local/bin/gitlab-runner "https://gitlab-runner-downloads.s3.amazonaws.com/latest/binaries/gitlab-runner-linux-{{ .architecture }}" && chmod +x /usr/local/bin/gitlab-runner
  - sed -i 's/#Port 22/Port 2222/g' /etc/ssh/sshd_config
  - systemctl daemon-reload # sshd-socket-generator generates overwrite file for socket activated ssh daemons
  - systemctl restart sshd ssh
  - echo -n "\n--- CI Server is ready ---" > /dev/tty1
